<!--   我的排班  -->

<div class="mine">
    <header class="header-bar header-bar-nav">
        <a style="height: 44px; line-height: 44px;"><i class="iconfont icon-fanhui header-icon"></i></a>
        <h1 class="header-title">我的排班</h1>
        <a v-link="{path:'/mine/list'}" class="weui-icon iconfont icon-diaoban pull-right">调班</a>
    </header>

    <div class="container padder-top">
        <div class="bd">
            <div class="weui_grids">
                <a href="#" class="weui_grid">
                    <div class="mine_box">
                        <p class="mine_box_title">星期一 06-06</p>
                        <ul>
                            <li><span class="fontstyle">早班</span>姚师傅</li>
                            <li><span class="fontstyle">晚班</span>李师傅</li>
                            <li><span class="fontstyle">夜班</span>王师傅</li>
                        </ul>
                    </div>
                </a>

                <a href="#" class="weui_grid">
                    <div class="mine_box">
                        <p class="mine_box_title">星期一 06-06</p>
                        <ul>
                            <li><span class="fontstyle">早班</span>姚师傅</li>
                            <li><span class="fontstyle">晚班</span>李师傅</li>
                            <li><span class="fontstyle">夜班</span>王师傅</li>
                        </ul>
                    </div>
                </a>

                <a href="#" class="weui_grid">
                    <div class="mine_box">
                        <p class="mine_box_title">星期一 06-06</p>
                        <ul>
                            <li><span class="fontstyle">早班</span>姚师傅</li>
                            <li><span class="fontstyle">晚班</span>李师傅</li>
                            <li><span class="fontstyle">夜班</span>王师傅</li>
                        </ul>
                    </div>
                </a>

                <a href="#" class="weui_grid">
                    <div class="mine_box">
                        <p class="mine_box_title">星期一 06-06</p>
                        <ul>
                            <li><span class="fontstyle">早班</span>姚师傅</li>
                            <li><span class="fontstyle">晚班</span>李师傅</li>
                            <li><span class="fontstyle">夜班</span>王师傅</li>
                        </ul>
                    </div>
                </a>

                <a href="#" class="weui_grid">
                    <div class="mine_box">
                        <p class="mine_box_title">星期一 06-06</p>
                        <ul>
                            <li><span class="fontstyle">早班</span>姚师傅</li>
                            <li><span class="fontstyle">晚班</span>李师傅</li>
                            <li><span class="fontstyle">夜班</span>王师傅</li>
                        </ul>
                    </div>
                </a>

                <a href="#" class="weui_grid">
                    <div class="mine_box">
                        <p class="mine_box_title">星期一 06-06</p>
                        <ul>
                            <li><span class="fontstyle">早班</span>姚师傅</li>
                            <li><span class="fontstyle">晚班</span>李师傅</li>
                            <li><span class="fontstyle">夜班</span>王师傅</li>
                        </ul>
                    </div>
                </a>

                <a href="#" class="weui_grid">
                    <div class="mine_box">
                        <p class="mine_box_title">星期一 06-06</p>
                        <ul>
                            <li><span class="fontstyle">早班</span>姚师傅</li>
                            <li><span class="fontstyle">晚班</span>李师傅</li>
                            <li><span class="fontstyle">夜班</span>王师傅</li>
                        </ul>
                    </div>
                </a>

                <a href="#" class="weui_grid">
                    <div class="mine_box">
                        <p class="mine_box_title">星期一 06-06</p>
                        <ul>
                            <li><span class="fontstyle">早班</span>姚师傅</li>
                            <li><span class="fontstyle">晚班</span>李师傅</li>
                            <li><span class="fontstyle">夜班</span>王师傅</li>
                        </ul>
                    </div>
                </a>

                <a href="#" class="weui_grid">
                    <div class="mine_box">
                        <p class="mine_box_title">星期一 06-06</p>
                        <ul>
                            <li><span class="fontstyle">早班</span>姚师傅</li>
                            <li><span class="fontstyle">晚班</span>李师傅</li>
                            <li><span class="fontstyle">夜班</span>王师傅</li>
                        </ul>
                    </div>
                </a>


            </div>


            <div class="weui_tabbar">

                <div class="last_page">
                    <a href="javascript:;" class="weui_btn weui_btn_default">上一页</a>
                </div>
                <div class="next_page">
                    <a href="javascript:;" class="weui_btn weui_btn_primary">下一页</a>
                </div>

            </div>

        </div>



    </div>




</div>